<% if current_user == @user %>
  <h3><%= @user.username.capitalize %>'s Beer Collection</h3>
<% end %>

Reviewed Beers:
<% user_reviews = Review.where(user_id: @user)%>
<% beer_ids = user_reviews.select(:beer_id).distinct %>
<ul>
<% beer_ids.each do |beer| %>
<% beer = Beer.find_by(id: beer.beer_id) %>
<li><%= link_to beer.name, beer_path(beer) %></li>
<% end %>
</ul>

Tracked Beers:
<% user_reviews = Review.where(user_id: @user) %>
<ul>
<% tracked_reviews = user_reviews.select {|x| x.tracked == true} %>
<% tracked_reviews.each do |review| %>
<% beer = Beer.find_by(id: review.beer_id) %>
<li><%= link_to beer.name, beer_path(beer) %></li>
<% end %>
</ul>

<br>
Write a new review:
<%= button_to "New Review", new_review_path, method: :get %>
<br>

<% if logged_in? %>
    <%= button_to "Logout", root_path, method: :get %>
<% else %>
    <%= button_to "Login Page", login_path, method: :get %>
<% end %>
