<h1>Add a new brewery</h1>

<%= form_for @brewery do |f| %>
Name: <%= f.text_field :name %><br>
Address: <%= f.text_field :address %><br>
City: <%= f.text_field :city %><br>
ZIP Code: <%= f.text_field :zip_code %><br>
<br>
<%= f.submit "Add Brewery" %>
<% end %>