<h1>Add a beer!</h1>

<%= form_for @beer do |f| %>
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
    <br/>
    <br/>
    <%= f.label "Brand:" %>
    <%= f.text_field :brand %>
    <br/>
    <br/>
    <%= f.label "Type:" %>
    <%= f.text_field :style %>
    <br/>
    <br/>
    <%= f.label "ABV:" %>
    <%= f.number_field :abv, in: 1.0..5.0, step: 1.0 %>
    <br/>
    <br/>
    <%= f.label "Strenght:" %>
    <%= f.text_field  :strength %>
    
    <br/>
    <br/>
    Select Brewery
    <br>
    <%= f.collection_check_boxes(:id, Brewery.all, :id, :name)%>

    <br/>
    <br/>
    
    <%= f.submit "Add your beer!" %>
  <% end %>