<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="app/assets/stylesheets/beer.css">
    <title>Beerdraft</title>
</head>
<body>


<div class = "beer_list">

<h1><%= @beer.name %> </h1>

   Brand: <%= @beer.brand %> <br>
   Type:  <%= @beer.style %> <br>
   ABV:   <%= @beer.abv %> <br>
   Strength: <%= @beer.strength %> <br>
   <br>

   <% if @beer.average_rating == 0 %>
        <p> Average Rating: Not rated yet</p>
    <% else %> 
            Average Rating: <%= @beer.average_rating %> <br>
   <% end %>

   Likes: <%=@beer.likes %>  
   <%= button_to "Like", action: "like_beer" %>


   <br></br>
   <h2>Reviews </h2>
   <% @beer.reviews.each do |r| %> <br>
      User: <%= r.user_id %> <br>
      <%= link_to "Content", review_path(r[:id]) %>:  <%= r.content %> <br>
      Rating:  <%= r.rating %> <br>
      Date: <%= r.created_at %><br>
   <%end%>
   
   <br><br>
   Back to Beer list:
   <%= link_to "Beers", beers_path %> 
   