<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="app/assets/stylesheets/review.css">
    <title>Beerdraft</title>
</head>
<body>

Beer Review:

<%= @review.content %>
<br>
<%= link_to "Back to Beer", beer_path(@review[:beer_id])%>
<br><br>
<%= button_to "Edit Review", edit_review_path, method: :get %>
<br>
<%= button_to "Delete Review", review_path, method: :delete %>
<br><br>
<%= button_to "Back to Beers Index", beers_path, method: :get %>

</body>