<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="app/assets/stylesheets/review.css">
    <title>Beerdraft</title>
</head>
<body>

<div class="review_show_header">
<% uid = @review.user_id %> 
<% userrecord = User.find_by id: uid %>
<%= userrecord.username.capitalize %> says:
</div>

<div class="review_main">
<br>
<%= @review.content %>
<br><br>

<% bid = @review.beer_id %>
<% beerrecord = Beer.find_by id: bid %>
<% @beername = beerrecord.name %>

<%= link_to "Back to #{@beername} info", beer_path(@review[:beer_id])%>
<br>
<%= button_to "Edit Review", edit_review_path, method: :get %>
<%= button_to "Delete Review", review_path, method: :delete %>
<%= button_to "Back to Beers Index", beers_path, method: :get %>
</div>

</body>